.cardsq {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.cards__containerq {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapperq {
  position: relative;
  margin: 50px 0 45px;
}

.cards__itemsq {
  margin-bottom: 24px;
}

.cards__itemq {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}


.cards__item__linkq {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrapq {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-imgq {
  animation-name: fade-img;
  animation-duration: 2s;
}


.cards__item__pic-wrapq::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  box-sizing: border-box;
}

.cards__item__pic-wrap2q::after {
  content: attr(data-category);
  position: absolute;
  top: 0;
  margin-right: -10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  box-sizing: border-box;
}

.cards__item__imgq {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__imgq:hover {
  transform: scale(1.1);
}

.cards__item__infoq {
  padding: 20px 30px 30px;
}

.cards__item__textq {
  color: #252e48;
  font-size: 14px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__containerq {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__itemsq {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__itemq {
    margin-bottom: 2rem;
  }
}